**/__pycache__/
.venv
docs
junit
.coverage
.pytest_cache
demo/notebooks/example_rmarkdown_files
demo/notebooks/example_rmarkdown.html
demo/notebooks/example_quarto_files
demo/notebooks/example_quarto.html
