name: Lint

on:
  workflow_call:
    inputs:
      PYTHON_VERSION:
        required: true
        type: string
      UV_VERSION:
        required: true
        type: string


jobs:
  ruff:
    name: Python - ruff
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.git_ref }}

      - name: Install and setup Python, uv, virtual env
        uses: ./.github/actions/install-python
        with:
          PYTHON_VERSION: ${{ inputs.PYTHON_VERSION }}
          UV_VERSION: ${{ inputs.UV_VERSION }}

      - name: Load Cached Virtualenv
        id: cache
        uses: actions/cache@v2.1.3
        with:
          path: .venv
          key: venv-${{ inputs.PYTHON_VERSION }}-${{ runner.os }}-${{ hashFiles('**/pyproject.toml', '**/uv.lock') }}

      - name: Install dependencies and project in dev mode
        if: steps.cache.outputs.cache-hit != true
        run: make install

      - name:
        run: make lint
