name: Unit tests

on:
  workflow_call:

env:
  PYTHON_VERSION: 3.11.2
  R_VERSION: 4.2.2

jobs:

  test-pipeline:
    name: Run with code coverage
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.git_ref }}
          lfs: True

      - name: Install and setup Python, Poetry, virtual env
        uses: ./.github/actions/install-python
        with:
          PYTHON_VERSION: ${{ env.PYTHON_VERSION }}
      
      - name: Install and setup R and packages
        uses: ./.github/actions/install-r
        with:
          R_VERSION: ${{ env.R_VERSION }}

      - name: Run unit tests
        run: |
          export PATH=$PATH:/home/runner/.pyenv/bin
          export JUPYTER_PLATFORM_DIRS=1
          poetry run jupyter --paths
          make test
        env:
          PY_COLORS: 1

      - name: Report
        run: |
          make report-coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}